
/* CSS pour les titre (h1 & h2)*/


.slideshow {
   width: 350px;
   height: 200px;
   overflow: hidden;
   border: 3px solid #F2F2F2;
}
.slideshow ul {
    /* 4 images donc 4 x 100% */
   width: 400%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}
.slideshow li {
   float: left;
}

h1{
  font-size: 50px;
  text-align: center;
  font-family: Verdana;
}
h2{
  font-family: Verdana;
  text-align: center;
  line-height: 5px;
}

#menu {
  position: fixed;
  z-index: 1;
}
